
 
.card {
    background-color: transparent;
 

}

.bg {


    background-image: url(../img/392.jpg);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



}

.bg-card{
    background-color: #ffffff

}

body,
html {
    height: 100%;
}