[Unit]
Description=Spicer DAQ Server
After=network.target
# Start after all services are up
After=multi-user.target

[Service]
Type=simple
User=xilinx
Group=xilinx
WorkingDirectory=/var/www/html/pynq
# Just wait 30 seconds then start
ExecStartPre=/bin/sleep 30
ExecStart=/usr/local/share/pynq-venv/bin/python /var/www/html/pynq/server.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target